body{
	margin: 0;
}
h1{
	color: gray;
	font-weight: 800;
	font-size: 40px;
}
p{
	font-size: 20px;
}
.color{
	color: orange;
}
.flexible-container{
	display: flex;
}
.healthy-food{
	width: 50%;
	padding-left: 15px;
}
.healthy-food img{
	padding-left: 30%;
}
.text-gem{
	margin-bottom: 50px;
}
.text-decorator{
	width: 30%;
}
.link-button{
	text-decoration: none;
	background-image: linear-gradient(salmon,tomato);
	padding: 20px 30px;
	color: white;
	font-weight: 700;
	border-radius: 30px;
}
.text-gem2{
	margin-bottom: 50px;
}
.about-me{
	text-align: center;
	text-align: justify;
	width: 50%;
	padding-top: 10%;
	padding-left: 50px;
}
.banner{
	background-image: url(images/shapes/7.png);
	background-repeat: no-repeat;
	background-size: 100%;
}
.text{
	width: 100%;
	text-align: center;
}
.resipes-title{
	font-size: 20px;
	font-weight: 800;
}
.thard-width{
	box-shadow: 20px 20px 30px gray;
	width: 33.33%;
	padding-left: 15px;
	margin-left: 5px;

	margin-right: 5px;
	border-radius: 35px;
}
.thard-width img{
	width: 100%;
}
.bg-color-footer{
	background-color: black;
	text-align: center;
}
.text-color{
	color: white;
}