body{
	margin: 0;
}
h1{
	color: gray;
	font-weight: 800;
	font-size: 40px;
}
p{
	font-size: 20px;
}
.color{
	color: orange;
}
section{
	display: flex;
}
.healthy-food{
	width: 50%;
	padding-left: 15px;
}
.healthy-food img{
	padding-left: 30%;
}
.text-gem{
	margin-bottom: 50px;
}
.text-decorator{
	width: 30%;
}
.link-button{
	text-decoration: none;
	background-image: linear-gradient(salmon,tomato);
	padding: 20px 30px;
	color: white;
	font-weight: 700;
	border-radius: 30px;
}
.about-me{
	text-align: center;
	text-align: justify;
	width: 50%;
	padding-top: 10%;
	padding-left: 50px;
}
.banner{
	background-image: url(images/shapes/7.png);
	background-repeat: no-repeat;
	background-size: 100%;
}